<div class="container-fluid mt-3 text-center">
    <h1>About Us</h1>
    <p class="container-fluid mt-3">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus!
      Ad dolore dignissimos asperiores dicta facere optio quod commodi nam tempore recusandae. Rerum sed nulla eum vero expedita ex delectus voluptates rem at neque quos facere sequi unde optio aliquam!
      Tenetur quod quidem in voluptatem corporis dolorum dicta sit pariatur porro quaerat autem ipsam odit quam beatae tempora quibusdam illum! Modi velit odio nam nulla unde amet odit pariatur at!
      Consequatur rerum amet fuga expedita sunt et tempora saepe? Iusto nihil explicabo perferendis quos provident delectus ducimus necessitatibus reiciendis optio tempora unde earum doloremque commodi laudantium ad nulla vel odio?
    </p>
  </div>

  <blockquote class="container-fluid mt-3 blockquote text-center">
    <p class="mb-0">This tutorial was created by Jesher Minelli.</p><br>
    <footer class="blockquote-footer"><%= link_to "Learn Ruby on Rails at GoRails", "https://gorails.com", target: :_blank %>
    <cite title="Source Title">Chris Oliver for GoRails</cite></footer>
  </blockquote>